@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Meeting Planner</h1>
    <p>Experience the future of Sacrament Meeting planning with our innovative web application. The Sacrament Meeting
        Planner is designed to elevate your church services by providing a seamless and efficient platform for
        organizing sacrament meetings. From managing speakers and topics to generating printable programs, we've got it
        all covered..</p>
</div>
