body {
    font-size: 16px;
    font-family: "Times New Roman";
    color: #08111f;
    background-color: #fefdff;
    background-image:url("../resources/Chapel_03.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bg-color1 {
    background-color: #59748f;
    color: #fff; /* Text color */
}

.bg-color2 {
    background-color: #183159;
    color: #ffffff;
}

.bg-color3 {
    background-color: #fefdff;
    color: #08111f;
}

.text-color1 {
    color: #59748f;
}

.text-color2 {
    color: #183159;
}

.text-color3 {
    color: #fefdff;
}

.link {
    color: #59748f;
}

.link:hover {
    color: #183159;
}

.nav-link,
.logo {
  color: #ffffff;
  padding: 5px 7px;
}
.nav-link:hover, .navbar-brand:hover {
  background-color: #ffffff;
  color: #183159;
  border-radius: 10px;
  padding: 5px 7px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}